{% extends 'base.html' %}
{% load static i18n %}


{% block title %}
    {% trans "Lessons" %} - {{ block.super }}
{% endblock %}



{% block adminpanel %}
<div class="admin-panel">
    <a href="{% url 'lesson_tests:lesson_tests_create' %}" class="btn btn-primary">{% trans "Create lesson" %}</a>
</div>
{% endblock %}



{% block content %}

<h2 class='lesson-title'>{% trans "List of all lessons." %}</h2>
<ul class='lesson-list'>
    {% for lesson in lessons %}
        <li class='lesson-list__item'><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}
            {% for task in tasks %}
                {% if task.title == lesson.title %}
                    ({{ task.count }})
                {% endif %}
            {% endfor %}
        </a> by {{ lesson.owner }}</li>
    {% empty %}
        <li>{% trans "Sorry, we do not have any lessons." %}</li>
    {% endfor %}
</ul>

{% endblock %}