{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
    {% trans "Delete lesson" %} - {{ block.super }}
{% endblock %}


{% block content %}

<form action="" class="login-form" method="POST">
    {% csrf_token %}
    <p>{% trans "Are you sure want delete the lesson" %} "{{ lesson.title }}"?</p>
    <input type="submit" value='{% trans "Confirm" %}'>
</form>

{% endblock %}