{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}


{% block title %}   
    {{ lesson }} - {{ block.super }}
{% endblock %}


{% block adminpanel %}
<div class="admin-panel">
    <a href="{% url 'lesson_tests:lesson_tests_update' lesson.id lesson.slug %}" class="btn btn-primary">{% trans "Update lesson" %}</a>
    <a href="{% url 'lesson_tests:lesson_tests_delete' lesson.pk %}" class="btn btn-danger">{% trans "Delete lesson" %}</a>
    <a href="{% url 'lesson_tests:task_tests_create' %}" class="btn btn-success">{% trans "Create lesson" %}</a>
</div>
{% endblock %}



{% block content %}


<div class="general_section">
    <div class="general_section-sidebar">
        {% for task in tasks %}
            <p class='general_section-sidebar--counter sidebar-btn {% if forloop.counter == 1 %}active{% endif %} empty' data-id="{{ forloop.counter }}" onclick="clickSidebarBtn(event)">
                <span class='general_section-sidebar--counter_span'>{{ forloop.counter }}</span>
            </p>
        {% endfor %}
    </div>
    
    <div class="general_section-content" data-id='{{ lesson.id }}'>
        {% for task in tasks %}
            <div class="general_section-content-item {% if forloop.counter == 1 %}active{% endif %}" id='question-{{ forloop.counter }}'>
                <h4 class="general_section-content-item--title">{{ task.title }}
                    <button type="button" class="delete-task btn btn-sm btn-danger" data-id="" data-toggle="tooltip" data-placement="bottom" title='{% trans "Delete task" %}'>
                        <span class="fa fa-trash"></span>
                    </button>
                    <button type="button" class="update-task btn btn-sm btn-warning" data-id="" data-toggle="tooltip" data-placement="bottom" title='{% trans "Update task" %}'>
                        <span class="fa fa-edit"></span>
                    </button>
                </h4>
                
                <div class="general_section-content-item--question">
                    {% if task.type_question == "choose" %}
                    <p class='task-question'>{{ task.question }}</p>

                    <div class='question-checkboxes' style='display: block;'>
                        <div>
                            <input type="checkbox" id="qs-a" name="qs-a" class='question-checkboxes--input' onclick="addCheckedToCheckbox(event)">
                            <label for="qs-a" class='question-checkboxes--label'>{{ task.a }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="qs-b" name="qs-b" class='question-checkboxes--input' onclick="addCheckedToCheckbox(event)">
                            <label for="qs-b" class='question-checkboxes--label'>{{ task.b }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="qs-c" name="qs-c" class='question-checkboxes--input' onclick="addCheckedToCheckbox(event)">
                            <label for="qs-c" class='question-checkboxes--label'>{{ task.c }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="qs-d" name="qs-d" class='question-checkboxes--input' onclick="addCheckedToCheckbox(event)">
                            <label for="qs-d" class='question-checkboxes--label'>{{ task.d }}</label>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="general_section-content-item--footer">
                    <button type="button" class="btn btn-send header_btn" id='btn-send' data-id='confirm_btn-{{ forloop.counter }}' data-href='{% url "lesson_tests:get_task_answer" %}' onclick='clickConfirmAnswer(event)'>{% trans "Send" %}</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>




{% endblock %}


{% block extra_js %}

<script src='{% static "js/lessontests/lesson_detail.js" %}'></script>

{% endblock %}	
