{% extends 'admin/change_form.html' %}
{% load static %}


{% block submit_buttons_bottom %}

<script src="{% static 'js/lodash.js' %}"></script>
<script src='{% static "js/admin/lessontests/lessontests_change_list.js" %}'></script>

{{ block.super }}

{% endblock %}