/* * {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;   
}

.navigation {
    width:100%;
}

.navbar-expand-md .navbar-collapse {
    justify-content: space-between;
} */

/* .btn-cs {
    padding:10px 20px;
    background-color: white!important;
    color: black!important;
    margin:10px;

}

.btn-cs:hover {
    color: white!important;
    background-color: black!important;
    box-shadow: 0px 0px 2px white!important;
}

.login-form {
    border: 1px solid black;
    margin-top: 20px;
    width: 20%;
    margin: 0 auto;
    padding: 0.8rem 1.2rem;
}


.error-list {
    color: orangered;
    font-size: 12px;
    font-weight: 600;
}


.form-group {
    position: relative;
}

i.fa {
    position: absolute;
    right: 0.8rem;
    top: 2.5rem;
    cursor: pointer;
    font-size: 1.2rem;
} */


/***********************************************/
/*   MODAL    */

@-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0; }
    to {
      top: 0;
      opacity: 1; } }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0; }
    to {
      top: 0;
      opacity: 1; } }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-header {
    height: 100%;
    position: relative;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: -12px;
    top: -16px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

  /***************************************************************/





















