.navbar-brand {
    color: white;
    font-size: 1.4rem !important;
    font-weight: 600;
}

.navbar-brand:hover {
    color: white;
    transform: translateY(-.2rem);
}

.nav-link {
    color: white;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: white;
    transform: translateY(-.1rem);
    text-decoration: underline;
}

.navbar {
    background: $primary-blue-seven;
}