.general_section {
    width: 100%;
    max-width: 100%;
    margin: 2rem 1rem;

    &-sidebar {
        width: 20%;
        background: $primary-color-light;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1vw;
        float: left;

        &--counter {
            text-align: center;
            // height: 2rem;
            margin-bottom: 0px;
            color: white;
            border: 1px solid white;
            cursor: pointer;
        }
    }

    &-content {
        width: 79%;
        padding: 0rem 1rem;
        margin-left: 20%;

        &-item {
            border: 1px solid black;
            margin-bottom: 2rem;

            &--title {
                padding: 1rem 2rem;
                background: $primary-color-light;
                color: white;
                font-weight: 600;
                margin-bottom: 0;

                button {
                    float: right;
                }
    
                .delete-task {
                    margin-left: .5rem;
                }
            }  
            
            &--question {
                padding: 1rem 2rem;

                p {
                    margin-bottom: 0;
                    border-bottom: 1px solid $primary-color-light;
                }
            }
            
            &--footer {
                background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
                display: flex;
                justify-content: flex-end;

                .btn-send {
                    margin: .5rem 0;
                    color: white;
                    background: chartreuse;
                    margin-right: 2rem;
                }
            }
        }
    }
}

.general_section-content-item {
    display: none;
}

.general_section-content-item.active {
    display: block;
}

.general_section-sidebar--counter.active {
    background: white;
    color: black;
}

.general_section-sidebar--counter.wrong {
    background: #c82333;
    color: white;
}

.general_section-sidebar--counter.correct {
    background: #4cae4c;
    color: white;
}



.question-checkboxes {
    padding: 1.5rem 0 0 0;
    display: block;
    -webkit-transition: .3s ease;
        -o-transition: .3s ease;
            transition: .3s ease;

    &--label {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: black;

        // margin-left: 12px;
    } 
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    height: 16px;
    width: 16px;
    border: 2px solid #E3E3E3;
}

input[type="checkbox"]:checked {
    background: $primary-color-light;
    border: 2px solid $primary-color-light;
}


input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 0%;
    top: -50%;
    width: 80%;
    height: 150%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

.header_btn.not-allowed {
    cursor: not-allowed!important;
    color: black!important;
    background: white!important;
}