.login-form {
    border: 1px solid black;
    margin-top: 20px;
    width: 30%;
    margin: 0 auto;
    padding: 0.8rem 1.2rem;
}

.error-list {
    color: orangered;
    font-size: 12px;
    font-weight: 600;
}


.form-group {
    position: relative;
}

i.fa {
    position: absolute;
    right: 0.8rem;
    top: 2.5rem;
    cursor: pointer;
    font-size: 1.2rem;
} 

.reg-form {
    position: absolute;
    top: 20%;
    left: 35%;
    margin: 0px;
    box-shadow: 0 0rem 4rem rgba(0, 0, 0, 0.2);
    background-color: white;
    border: none;
}

.bg-video {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden; }
    .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }