*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }





$primary-color-dark: #5643fa;
$primary-color-light: #2998ff;


$color-grey-dark: #777;
$color-grey-dark-3: #333;
$color-grey-light-1:#f7f7f7;
$color-primary: #55c57a;


.rm-margin-right {
  margin-right: 0px !important;}