.navbar-brand {
    color: white;
    font-size: 1.4rem !important;
    font-weight: 600;
}

.navbar-brand:hover {
    color: white;
    transform: translateY(-.2rem);
}

.nav-link {
    color: white;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
    transform: translateY(-.1rem);
}

.navbar {
    background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
}

.navbar-expand-md .navbar-collapse {
    justify-content: space-between;
}

.header_btn {
    padding:10px 20px;
    background-color: white!important;
    color: black!important;
    margin:1rem 0 1rem 2rem;
}

.header_btn:hover {
    color: white!important;
    background-color: black!important;
    box-shadow: 0px 0px 2px white!important;
}

.lang_panel {
    display: grid;
    align-items: center;
    background: #f1eaea;
    padding: .2rem .4rem;
    border-radius: .5rem;

    a {
        color: black;
        cursor: pointer;
    }

    &-img {
        width: 1.2rem;
        margin-right: .5rem;
    }
}
