.admin-panel {
  border: 1px solid #999;
  border-radius: 2px;
  background-color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  opacity: 0.4;
  padding: 15px;
  z-index: 9999; }
  .admin-panel a {
    display: block;
    margin: 5px 0px; }
  .admin-panel:hover {
    opacity: 1;
    box-shadow: inset 0 0 8px #000000; }
  .admin-panel .btn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px; }
    .admin-panel .btn:not(:last-child) {
      margin-bottom: 10px; }
  .admin-panel .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; }
    .admin-panel .btn-primary:hover {
      border: 1px solid #2e6da4;
      background-color: white;
      color: #0079fa;
      box-shadow: inset 0 0 5px #0079fa; }
  .admin-panel .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #c82333; }
    .admin-panel .btn-danger:hover {
      border: 1px solid #c82333;
      background-color: white;
      color: #bd2130;
      box-shadow: inset 0 0 5px #bd2130; }
  .admin-panel .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c; }
    .admin-panel .btn-success:hover {
      border: 1px solid #4cae4c;
      background-color: white;
      color: #00a84b;
      box-shadow: inset 0 0 5px #00a84b; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.rm-margin-right {
  margin-right: 0px !important; }

.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 5rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 100%;
    float: right;
    font-size: 1rem; }

.footer .row {
  max-width: 114rem;
  margin: 0 auto; }

.row:not(:last-child) {
  margin-bottom: 8rem; }

@media (max-width: 70.3125em) {
  .row:not(:last-child) {
    margin-bottom: 6rem; } }

@media (max-width: 70.3125em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem; } }

.row::after {
  content: '';
  display: table;
  clear: both; }

.row [class^="col-"] {
  float: left; }

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem; }

@media (max-width: 70.3125em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 10;
    margin-bottom: 6rem; } }

@media (max-width: 70.3125em) {
  .row [class^="col-"] {
    width: 100% !important; } }

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.row .col-2-of-3 {
  width: calc( 2 * ( (100% - 2 * 6rem) / 3 ) + 6rem); }

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.row .col-2-of-4 {
  width: calc( 2 * ( (100% - 3 * 6rem) / 4 ) + 6rem); }

.row .col-3-of-4 {
  width: calc( 3 * ( (100% - 3 * 6rem) / 4 ) + 2 * 6rem); }

.col-1-of-2-clear {
  border-top: 1px solid #777; }

.col-1-of-2-clear .footer__navigation {
  border-top: none;
  float: right; }

.navbar-brand {
  color: white;
  font-size: 1.4rem !important;
  font-weight: 600; }

.navbar-brand:hover {
  color: white;
  transform: translateY(-0.2rem); }

.nav-link {
  color: white;
  font-size: 1.1rem; }

.nav-link:hover {
  color: white;
  text-decoration: underline;
  transform: translateY(-0.1rem); }

.navbar {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }

.navbar-expand-md .navbar-collapse {
  justify-content: space-between; }

.header_btn {
  padding: 10px 20px;
  background-color: white !important;
  color: black !important;
  margin: 1rem 0 1rem 2rem; }

.header_btn:hover {
  color: white !important;
  background-color: black !important;
  box-shadow: 0px 0px 2px white !important; }

.lang_panel {
  display: grid;
  align-items: center;
  background: #f1eaea;
  padding: .2rem .4rem;
  border-radius: .5rem; }
  .lang_panel a {
    color: black;
    cursor: pointer; }
  .lang_panel-img {
    width: 1.2rem;
    margin-right: .5rem; }

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

.modal-header {
  height: 100%;
  position: relative; }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: -12px;
  top: -16px; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

#modal-general .modal-header {
  height: auto; }

#modal-general .modal-body {
  padding: 1rem 0rem; }

#modal-general .modal-dialog {
  max-width: 100% !important;
  width: 60% !important; }

.general_section {
  width: 100%;
  max-width: 100%;
  margin: 2rem 1rem; }
  .general_section-sidebar {
    width: 20%;
    background: #2998ff;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vw;
    float: left; }
    .general_section-sidebar--counter {
      text-align: center;
      margin-bottom: 0px;
      color: white;
      border: 1px solid white;
      cursor: pointer; }
  .general_section-content {
    width: 79%;
    padding: 0rem 1rem;
    margin-left: 20%; }
    .general_section-content-item {
      border: 1px solid black;
      margin-bottom: 2rem; }
      .general_section-content-item--title {
        padding: 1rem 2rem;
        background: #2998ff;
        color: white;
        font-weight: 600;
        margin-bottom: 0; }
        .general_section-content-item--title button {
          float: right; }
        .general_section-content-item--title .delete-task {
          margin-left: .5rem; }
      .general_section-content-item--question {
        padding: 1rem 2rem; }
        .general_section-content-item--question p {
          margin-bottom: 0;
          border-bottom: 1px solid #2998ff; }
      .general_section-content-item--footer {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
        display: flex;
        justify-content: flex-end; }
        .general_section-content-item--footer .btn-send {
          margin: .5rem 0;
          color: white;
          background: chartreuse;
          margin-right: 2rem; }

.general_section-content-item {
  display: none; }

.general_section-content-item.active {
  display: block; }

.general_section-sidebar--counter.active {
  background: white;
  color: black; }

.general_section-sidebar--counter.wrong {
  background: #c82333;
  color: white; }

.general_section-sidebar--counter.correct {
  background: #4cae4c;
  color: white; }

.question-checkboxes {
  padding: 1.5rem 0 0 0;
  display: block;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .question-checkboxes--label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: black; }

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #E3E3E3; }

input[type="checkbox"]:checked {
  background: #2998ff;
  border: 2px solid #2998ff; }

input[type="checkbox"]:after {
  content: '';
  position: relative;
  left: 0%;
  top: -50%;
  width: 80%;
  height: 150%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
  display: none; }

input[type="checkbox"]:checked:after {
  display: block; }

.header_btn.not-allowed {
  cursor: not-allowed !important;
  color: black !important;
  background: white !important; }

.lesson-title {
  margin: 1rem 0 0 1rem; }

.lesson-list {
  margin: 1rem;
  list-style-type: none; }

.login-form {
  border: 1px solid black;
  margin-top: 20px;
  width: 30%;
  margin: 0 auto;
  padding: 0.8rem 1.2rem; }

.error-list {
  color: orangered;
  font-size: 12px;
  font-weight: 600; }

.form-group {
  position: relative; }

i.fa {
  position: absolute;
  right: 0.8rem;
  top: 2.5rem;
  cursor: pointer;
  font-size: 1.2rem; }

.reg-form {
  position: absolute;
  top: 20%;
  left: 35%;
  margin: 0px;
  box-shadow: 0 0rem 4rem rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none; }

.bg-video {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover; }
