{% load widget_tweaks %}
{% load static i18n %}


<form method="post">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans "login" %}</h4>
  </div>
  <div class="modal-body">
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger mt-2">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    </div>

    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class="form-control" %}
            <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
                <p class="help-block">
                    <div class="alert alert-danger mt-2">
                        <strong>{{ error }}</strong>
                    </div>
                </p>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "close" %}</button>
    <button type="submit" class="btn btn-primary signup__btn" data-id='{% url "users:custom_login_view" %}'>{% trans "log in" %}</button>
  </div>
</form>