{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}


{% block title %}
    {% trans "log in" %} - {{ block.super }}
{% endblock %}


{% block content %}

<form action="" class="login-form" method="POST">
    {% csrf_token %}
    
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger mt-2">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    </div>

    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        <div class="{% if field.errors %} invalid{% endif %}">
        {% for error in field.errors %}
            <p class="help-block">
                <div class="alert alert-danger mt-2">
                    <strong>{{ error }}</strong>
                </div>
            </p>
        {% endfor %}
        </div>
    </div>
    {% endfor %}

    <input type="submit" value="{% trans 'log in' %}" class='signup__btn' data-id='{% url "users:custom_login_view" %}'>
    <a href="{% url 'books:base_view' %}">{% trans "cancel" %}</a>
</form>

{% endblock %}


{% block extra_js %}

    <script src='{% static "js/users/login.js" %}'></script>

{% endblock %}