{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "reg" %} - {{ block.super }}
{% endblock %}


{% block content %}

<div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
        <!--   can download video from "coverr.co"   -->
        <source src="{% static 'video/video_book.mp4' %}" type="video/mp4">
        <source src="{% static 'video/video_book.webm' %}" type="video/webm">
        {% trans "Your browser is not supported!" %}    
    </video>
</div>


<form action="" class="login-form reg-form" method="POST">
    {% csrf_token %}
    
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger mt-2">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    </div>

    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        <div class="{% if field.errors %} invalid{% endif %}">
        {% for error in field.errors %}
            <p class="help-block">
                <div class="alert alert-danger mt-2">
                    <strong>{{ error }}</strong>
                </div>
            </p>
        {% endfor %}
        </div>
    </div>
    {% endfor %}

    <input type="submit" value="{% trans 'reg' %}" class='signup__btn' data-id='{% url "users:custom_creation_view" %}'>
    <a href="{% url 'books:base_view' %}">{% trans "cancel" %}</a>
</form>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p>{% trans "Спасибо что зарегестрировались. Вы будете перенаправлену на главную страницу автоматически через" %} <span id='modal-timer'>5</span> {% trans "сек" %}.</p>
        </div>
    </div>
</div>



{% endblock %}


{% block extra_js %}

    <script src='{% static "js/users/sign.js" %}'></script>

{% endblock %}