.admin-panel {
    border: 1px solid #999;
    border-radius: 2px;
    background-color: white;
    position:fixed;
    left: 0px;
    bottom: 0px;
    opacity: 0.4;
    padding: 15px;
    z-index: 9999;

    a {
      display: block;
      margin: 5px 0px;
    }

    &:hover {
      opacity: 1;
      box-shadow: inset 0 0 8px #000000;
    }

    .btn {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 1.2em;
        text-align: center;
        border-radius: 5px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;

        &:hover {
            border: 1px solid #2e6da4;
            background-color: white;
            color: #0079fa;
            box-shadow: inset 0 0 5px #0079fa;
        }
    }

    .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #c82333;

        &:hover {
            border: 1px solid #c82333;
            background-color: white;
            color: #bd2130;
            box-shadow: inset 0 0 5px #bd2130;
        }
    }

    .btn-success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;

        &:hover {
            border: 1px solid #4cae4c;
            background-color: white;
            color: #00a84b;
            box-shadow: inset 0 0 5px #00a84b;
        }
    }
}