.footer {
    background-color: $color-grey-dark-3;
    padding: 5rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    &__logo-box {
        text-align: center;
        margin-bottom: 5rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        
        &:not(last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba(black,.4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 100%;
        float: right;
        font-size: 1rem;
    }
}

.footer .row {
    max-width: 114rem;
    margin: 0 auto; }
    .row:not(:last-child) {
      margin-bottom: 8rem; }
      @media (max-width: 70.3125em) {
        .row:not(:last-child) {
          margin-bottom: 6rem; } }
    @media (max-width: 70.3125em) {
      .row {
        max-width: 50rem;
        padding: 0 3rem; } }
    .row::after {
      content: '';
      display: table;
      clear: both; }
    .row [class^="col-"] {
      float: left; }
      .row [class^="col-"]:not(:last-child) {
        margin-right: 6rem; }
        @media (max-width: 70.3125em) {
          .row [class^="col-"]:not(:last-child) {
            margin-right: 10;
            margin-bottom: 6rem; } }
      @media (max-width: 70.3125em) {
        .row [class^="col-"] {
          width: 100% !important; } }
    .row .col-1-of-2 {
      width: calc((100% - 6rem) / 2); }
    .row .col-1-of-3 {
      width: calc((100% - 2 * 6rem) / 3); }
    .row .col-2-of-3 {
      width: calc( 2 * ( (100% - 2 * 6rem) / 3 ) + 6rem); }
    .row .col-1-of-4 {
      width: calc((100% - 3 * 6rem) / 4); }
    .row .col-2-of-4 {
      width: calc( 2 * ( (100% - 3 * 6rem) / 4 ) + 6rem); }
    .row .col-3-of-4 {
      width: calc( 3 * ( (100% - 3 * 6rem) / 4 ) + 2 * 6rem); }

.col-1-of-2-clear {
    border-top: 1px solid #777;
}

.col-1-of-2-clear .footer__navigation {
    border-top: none;
    float: right;
}